#footer-part div.sub-email {
  background-color: #2f3537;
  position: relative;
  padding: 20px 0 14px 0;
  width: 100%;
  height: auto;
  display: flex;
}

#footer-part div.sub-email div.sub-input {
  width: auto;
  float: right;
  position: relative;
  opacity: 0;
  left: 100px;
}

#footer-part div.sub-email input {
  box-sizing: border-box;
  float: left;
  height: 94px;
  width: 379px;
  padding: 32px 38px;
  border: none;
  background-color: #181b1b;
  margin-bottom: 0;
  text-transform: none;
  color: #888889 !important;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

#footer-part div.sub-email button.btn {
  margin-left: 32px;
  padding: 32px 37px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #2bbfbd;
  color: #fff;
  cursor: pointer;
}

#footer-part div.sub-email button:hover {
  background-color: #44d5d5;
}

#footer-part div.sub-email input, #footer-part button {
  border-radius: 0;
}

#footer-part div.sub-email label {
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  width: 500px;
  position: relative;
  overflow: hidden;
  float: left;
  margin-bottom: 27px;
  margin-top: 27px;
  margin-right: 30px;
  opacity: 0;
  left: -100px;
}

#footer-part div.sub-email label i {
  position: relative;
  font-size: 40px;
  line-height: 40px;
  left: 0;
  top: -3px;
  margin-right: 18px;
  display: block;
  float: left;
  color: #2bbfbd;
}

#footer-part div.info {
  height: auto;
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
  display: flow-root;
}

#footer-part div.info div.social-contact {
  width: auto;
  float: right;
  position: relative;
  margin-top: 85px;
}

#footer-part div.info div.social-contact i {
  font-size: 26px;
  line-height: 26px;
  color: #565f61;
  cursor: pointer;
  margin-right: 6px;
  transition: all 300ms ease;
}

#footer-part div.info div.social-contact i:hover {
  color: #fff;
}

#footer-part div.info div.copyright {
  position: relative;
  float: left;
  text-align: left;
  width: 450px;
}

#footer-part div.info div.copyright p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 100;
  margin-bottom: 20px;
}
