#Sign-in .logo-part, #Sign-up .logo-part, #Forgot-password .logo-part {
  text-align: center;
  font-size: 69px;
  line-height: 69px;
  position: relative;
  margin-bottom: 24px;
  color: #2bbfbd
}

#Sign-in input.form-control, #Sign-up input.form-control, #Forgot-password input.form-control {
  margin-bottom: 16px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  background-color: transparent;
  color: #565f61 !important;
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
  height: 44px;
}

#Sign-in .btn-part, #Sign-up .btn-part {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

#Sign-in .signin-btn, #Sign-up .signin-btn, #Forgot-password .signin-btn {
  width: auto;
  position: relative;
  margin-top: 28px;
  margin-bottom: 18px;
}

#Sign-in div.signin-btn .btn, #Sign-up div.signin-btn .btn, #Forgot-password div.signin-btn .btn {
  width: 100%;
  padding: 14px 0;
  border-radius: 2px;
  font-size: 16px;
  line-height: 16px;
  background-color: #2bbfbd;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 400ms ease;
}

#Sign-in .signin-btn .btn:hover, #Sign-up .signin-btn .btn:hover, #Forgot-password .signin-btn .btn:hover {
  background-color: #2fa8d0;
}

#Sign-in a.forgot-pass, #Sign-in .connect-social i, #Sign-up .connect-social i {
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  text-transform: none;
  color: #888889;
  transition: all 300ms ease;
}

#Sign-in .connect-social, #Sign-up .connect-social {
  width: auto;
  position: relative;
  float: right;
}

#Sign-in .connect-social i, #Sign-up .connect-social i {
  font-size: 18px;
  line-height: 18px;
  margin-left: 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

#Sign-in a.forgot-pass:hover,  #Sign-in .connect-social i:hover, #Sign-up .connect-social i:hover {
  color: #fff;
}

#Forgot-password .notify {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 6px 12px;
  margin-top: 12px;
  font-weight: 300;
}

.notify-verification {
  height: 0px;
  opacity: 0;
  transition: all 400ms cubic-bezier(0.745, -0.340, 0.425, 1.430);
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
}

.show-more {
  height: 52px;
  opacity: 1;
  transform: rotateX(0deg);
}
