body {
  margin: 0;
  background-color: #fff;
}

.header_tab {
  width: 100%;
  height: 64px;
  margin: 0;
  background-color: #333;
  position: relative;
}

.containner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 1.29032%;
  text-align: left;
}

.web_logo {
  position: absolute;
  margin-right: 10px;
  padding-top: 5px;
  vertical-align: top;
}

.nav_black {
  width: auto;
  float: right;
  display: table-cell;
  max-width: 80%;
  height: 64px;
}

.nav ul.list {
  height: 64px;
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.list> li {
  float: left;
  display: table;
  height: 100%;
  table-layout: fixed;
  list-style: none;
}

ul.list> li a.nav_link {
  max-width: 200px;
  display: table-cell;
  padding: 0 20px;
  line-height: 22px;
  font-size: 22px;
  font-weight: normal;
  width: auto;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

a {
  font-family: "LG Smart Light",Tahoma,Arial,sans-serif !important;
  color: #fff;
}

.nav_part .nav_link:hover{
  background-color: #d9dbe0;
  color: #333;
}

.red_tab {
  width: 100%;
  height: 38px;
  margin: 0;
  background-color: #a50034;
  position: relative;
  opacity: .9;
  min-width: 768px;
}

ul.global {
  padding: 0;
  margin: 0;
  float: right;
  list-style: none;
  padding-right: 15px;
  line-height: 38px;
  font-style: normal;
  vertical-align: top;
}

ul.global> li a.language {
  text-decoration: none;
  font-weight: 400;
  font-size: auto;
}

.fa-globe {
  font-size: 25px;
  margin-right: 5px;
}

li a.language:hover {
  color: #d9dbe0;
  text-decoration: underline;
}

.video {
  margin: 0 auto;
  margin-top: 8px;
  border: 1px solid #949494;
  max-width: 1600px;
}

video {
  display: inline-block;
  vertical-align: baseline;
}

.btn-mute {
  top: 200px;
  font-size: 20px;
  position: absolute;
  width: 70px;
  height: 24px;
  overflow: hidden;
  text-indent: -9999px;
}

.btn-mute.off {
  background: url(http://www.lg.com/global/img/homepage/sound_off.png) no-repeat;
}

.btn-mute:hover {
  background-position: 0 bottom;
  background: url(http://www.lg.com/global/img/homepage/sound_on.png) no-repeat;
}

.homepage-content {
  margin: 8px auto;
}

.module {
  position: relative;
  min-width: 768px;
  overflow: hidden;
  clear: both;
  max-width: 1600px;
}

.homepage-content.wide-left .wide {
  left: 0;
  top: 0;
}

.row-content1 .section-image {
  width: 42.75%;
  position: relative;
  background: #000;
}

.image1 {
  width: 100%;
  position: relative;
}

img {
  height: auto;
  vertical-align: middle;
}

.content-box .caption {
  line-height: 24px;
  min-height: 24px;
}

.caption {
  font-size: 18px;
  padding: 4px 4.4%;
  margin : 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background: rgba(51,51,51,.7);
  color: #fff;
  text-align: left;
  font-family: "LG Smart Light",Tahoma,Arial,sans-serif;
  font-weight: normal;
}
