body {
  margin: 0;
  background-color: #fff;
}

.header_tab {
  width: 100%;
  height: 64px;
  margin: 0;
  background-color: #333;
  position: relative;
}

.containner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 1.29032%;
  text-align: left;
}

.web_logo {
  position: absolute;
  margin-right: 10px;
  padding-top: 5px;
  vertical-align: top;
}

.nav_black {
  width: auto;
  float: right;
  display: table-cell;
  max-width: 80%;
  height: 64px;
}

.nav ul.list {
  height: 64px;
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.list> li {
  float: left;
  display: table;
  height: 100%;
  table-layout: fixed;
  list-style: none;
}

ul.list> li a.nav_link {
  max-width: 200px;
  display: table-cell;
  padding: 0 20px;
  line-height: 22px;
  font-size: 22px;
  font-weight: normal;
  width: auto;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

a {
  font-family: "LG Smart Light",Tahoma,Arial,sans-serif !important;
  color: #fff;
}

.nav_part .nav_link:hover{
  background-color: #d9dbe0;
  color: #333;
}

.red_tab {
  width: 100%;
  height: 38px;
  margin: 0;
  background-color: #a50034;
  position: relative;
  opacity: .9;
  min-width: 768px;
}

ul.global {
  padding: 0;
  margin: 0;
  float: right;
  list-style: none;
  padding-right: 15px;
  line-height: 38px;
  font-style: normal;
  vertical-align: top;
}

ul.global> li a.language {
  text-decoration: none;
  font-weight: 400;
  font-size: auto;
}

.fa-globe {
  font-size: 25px;
  margin-right: 5px;
}

li a.language:hover {
  color: #d9dbe0;
  text-decoration: underline;
}

.video {
  margin: 0 auto;
  margin-top: 8px;
  border: 1px solid #949494;
  max-width: 1600px;
}

video {
  display: inline-block;
  vertical-align: baseline;
}

.btn-mute {
  top: 200px;
  font-size: 20px;
  position: absolute;
  width: 70px;
  height: 24px;
  overflow: hidden;
  text-indent: -9999px;
}

.btn-mute.off {
  background: url(http://www.lg.com/global/img/homepage/sound_off.png) no-repeat;
}

.btn-mute:hover {
  background-position: 0 bottom;
  background: url(http://www.lg.com/global/img/homepage/sound_on.png) no-repeat;
}

.homepage-content {
  margin: 8px auto;
}

.homepage-content .hc-wrap {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.homepage-content .hc-wrap .image-box {
  width: 28.125%;
  position: absolute
}

.homepage-content .hc-wrap .cont-box {
  position: relative
}

.homepage-content .hc-wrap .cont-box .caption {
  position: absolute;
  width: 91.205%;
  background: rgba(51,51,51,.7);
  bottom: 0;
  color: #fff;
  left: 0;
  text-align: left;
  line-height: 24px;
  min-height: 24px;
  font-size: 18px;
  padding: 4px 4.4%;
}

.homepage-content .hc-wrap .wide {
  width: 42.75%;
  position: relative;
  background: #000
}

.homepage-content .hc-wrap .wide .caption {
  padding: 4px 4.4%
}

.homepage-content.wide-left .wide {
  left: 0;
  top: 0
}

.homepage-content.wide-left .image-1 {
  right: 28.625%;
  top: 0;
  z-index: 2
}

.homepage-content.wide-left .image-2 {
  right: 0;
  top: 0
}

.homepage-content.wide-right .wide {
  right: 0;
  top: 0;
  position: absolute
}

.homepage-content.wide-right .image-1 {
  left: 0;
  top: 0;
  position: relative
}

.homepage-content.wide-right .image-2 {
  left: 28.625%;
  top: 0
}

.homepage-content a:hover .caption {
  text-decoration: underline;
  color: #CCC!important
}

img.lazy {
  width: 100%;
  vertical-align: middle;
  min-height: auto;
}

h2.caption {
  margin: 0;
  padding: 0;
  font-family: "LG Smart Light",Tahoma,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

.top-bar {
  background-color: #333;
  color: #fff;
  float: left;
  width: 100%;
  line-height: 27px;
  padding: 13px 0 17px;
}

.top-bar a {
  color: #fff;
}

.top-bar> .container {
  content: "";
  display: table;
  clear: both;
  font-family: "LG Smart Light",Tahoma,Arial,sans-serif;
  font-size: 16px;
  padding: 0 1.29032%;
}

.top-bar .country-select {
  float: left;
  line-height: 1;
  padding-top: 8px;
}

.top-bar .country-select a {
  font-weight: bold;
  padding-left: 5px;
  text-decoration: none;
  font-weight: 700;
}

.top-bar .country-select a:hover {
  text-decoration: underline;
  color: #CCC;
}
