body {
  margin: 0;
}

.header_tab {
  width: 100%;
  height: 64px;
  margin: 0;
  width: 100%;
  height: 64px;
  background-color: #333;
  position: relative;
}

.containner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 1.29032%;
  text-align: left;
}

.web_logo {
  position: absolute;
  margin-right: 10px;
  padding-top: 5px;
  vertical-align: top;
}

.nav_black {
  width: auto;
  float: right;
  display: table-cell;
  max-width: 80%;
  height: 64px;
}

.nav ul.list {
  height: 64px;
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.list> li {
  float: left;
  display: table;
  height: 100%;
  table-layout: fixed;
  list-style: none;
}

ul.list>li a.nav_link {
  max-width: 200px;
  display: table-cell;
  padding: 0 20px;
  line-height: 20px;
  font-size: 22px;
  width: auto;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

a {
  font-family: "LG Smart Light",Tahoma,Arial,sans-serif !important;
  color: #fff !important;
}
